/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #ffffff;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color-dark: #000028;
  --text-color-light: #F1B2CE;
  --theme-button-color: var(--accent-color);
  --theme-button-hover-color: rgba(255, 0, 112, 0.4);
  --corner-decoration-color: var(--accent-color);
  --main-section-title-color: var(--accent-color);
  --main-section-text-color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --text-color: #ffffff;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --text-color-dark: #000028;
    --text-color-light: #F1B2CE;
    --theme-button-color: var(--accent-color);
    --theme-button-hover-color: rgba(255, 0, 112, 0.4);
    --corner-decoration-color: var(--accent-color);
    --main-section-title-color: var(--accent-color);
    --main-section-text-color: var(--text-color-light);
  }
}

.theme-dark .header__rec {
  display: block;
}