/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color-dark: #353430;
  --text-color-light: #ffc2e6;
  --theme-button-color: var(--text-color-dark);
  --theme-button-hover-color: rgba(50, 49, 45, 0.4);
  --corner-decoration-color: var(--text-color-dark);
  --main-section-title-color: var(--text-color-dark);
  --main-section-text-color: var(--text-color-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color-dark: #353430;
    --text-color-light: #ffc2e6;
    --theme-button-color: var(--text-color-dark);
    --theme-button-hover-color: rgba(50, 49, 45, 0.4);
    --corner-decoration-color: var(--text-color-dark);
    --main-section-title-color: var(--text-color-dark);
  }
}

.theme-light .header__rec {
  display: none;
}