/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0;
  padding: 0 var(--page-padding);

  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--text-color);
  font-family: var(--font-family);
  min-height: var(--full-height);
}

.title-decor {
  width: 100%;
  background-color: var(--accent-color);

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-color-dark);
}

.focus-title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);

  @media (width >=768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Header */

.header {
  height: var(--focus-height);
  min-height: var(--focus-min-height);
  padding: 10px 0;
  position: relative;
}

.header__container {
  height: 100%;
  padding: 64px 0 56px 0;
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header__rec {
  position: absolute;
  top: 0;
  right: 9px;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--accent-color);
}

.header__rec::after {
  content: '';
  position: relative;
  top: -2px;
  display: inline-block;
  width: 9px;
  height: 9px;

  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__title {
  margin-block-start: 10px;
  margin-block-end: 55px;
}

/* Corners */

.decorated-zone::before, .decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--corner-decoration-color);
  border-style: solid;
  border-width: 0;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top-width: 1px;
  border-right-width: 1px;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

/* Theme buttons */

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  padding: 0 13px;

  border: 1px solid transparent;
  background: transparent;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  color: var(--theme-button-color);

  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--theme-button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
}

.header__theme-menu-button_active {
  border-color: var(--theme-button-color);
  pointer-events: none;
  cursor: default;
}

@media (width >=768px) {
  .header {
    padding: 20px 0;
  }

  .header__container {
    padding-top: 172px;
    padding-bottom: 163px;
  }

  .header__title {
    margin-block-end: 162px;
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .header__description-wrapper {
    max-width: 364px;
    align-self: flex-end;
  }
}

@media (width >=1024px) {
  .header__container {
    padding-top: 0;
    padding-bottom: 114px;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__title {
    margin-block-start: 159px;
    margin-block-end: 114px;
  }

  .header__description-wrapper {
    max-width: 491px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.main {
  margin-bottom: 40px;
}

/* Main text blocks */

.main__text-sections {
  padding-block-start: 40px;
  padding-block-end: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__section-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-section-title-color);
  margin-bottom: 20px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__subsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__subsection.complex {
  gap: 20px;
}

.main__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__item-title {
  font-weight: 400;
}

.main__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--main-section-text-color);
}

.main__link {
  color: var(--main-section-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
}

.main__link:focus-visible {
  outline: 2px solid var(--main-section-text-color);
  outline-offset: 2px;
}

@media (width >=768px) {
  .main {
    margin-bottom: 60px;
  }

  .main__text-sections {
    padding-block-start: 60px;
    padding-block-end: 80px;
    gap: 80px;
  }

  .main__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .main__section-title {
    grid-column: 1;
    margin-bottom: 0;
  }

  .main__content {
    grid-column: 2;
  }

  .main__section_column {
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    grid-template-areas:
      'title .'
      'content content';
  }

  .main__section_column .main__section-title {
    grid-area: title;
  }

  .main__section_column .main__content {
    grid-column: auto;
    grid-area: content;
  }
}

@media (width >=1024px) {
  .main__section {
    grid-template-columns: 315px 2fr;
    align-items: start;
  }

  .main__section-title {
    grid-column: 1;
    margin-bottom: 0;
  }

  .main__content {
    grid-column: 2;
  }

  .main__section_column .main__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Gallery */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (width >=768px) {
  .gallery {
    gap: 20px;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
  }

  .gallery__image_1 {
    grid-area: sunset;
  }

  .gallery__image_2 {
    grid-area: ice-cream;
  }

  .gallery__image_3 {
    grid-area: tape;
  }

  .gallery__image_4 {
    grid-area: books;
  }

  .gallery__image_5 {
    grid-area: street;
  }

  .gallery__image {
    height: 100%;
  }
}

@media (width >=1024px) {
  .gallery__images {
    grid-template-rows: 260px 315px 433px;
  }
}

/* Footer */

.footer {
  height: var(--focus-height);
  min-height: var(--focus-min-height);
  padding: 10px 0;
}

.footer__container {
  height: 100%;
  position: relative;

  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

@media (width >=768px) {
  .footer {
    padding: 20px 0;
  }
}